.flex {
    display: flex;
    flex-flow: row wrap;
    background-color: green;
    align-items: center;
    height: 200px;
}   

.flex > div {
    background-color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
  }